body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container--fluid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;

}
.background {
    background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    /*width: 100vh;*/
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: 1px solid #d7d4e4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n){
border-color: #fff;
}
.cube:nth-child(odd){
    border-color: #212335;
    }
.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3){
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube :nth-child(4){
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5){
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6){
    animation-delay: 10s;
    left: 50vw;
    top: 85vh;
}

.player{
    position: absolute;
    top: 0;
    right: 0;
}
.container__btn{
    position: absolute;
    top: 50%;
    left: 50%;
}
.press{
    font-size: 2em;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    border:none;
    outline: none;
    box-shadow: none;
    width: 390px;
    height: 120px;
    line-height: 42px;
    transition: all 0.3s ease;
    -webkit-perspective: 230px;
    perspective: 230px;
}

.press span {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 300px;
    height: 100px;
    box-shadow:inset 6px 6px 6px 0px rgba(255,255,255,.5),
     21px 21px 60px 0px rgba(0,0,0,.1),
     12px 12px 15px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .5s;
  }
  .press span:nth-child(1) {
    box-shadow:
     -21px -21px 60px 0px #fff9,
     -12px -12px 15px 0px #fff9,
     21px 21px 60px 0px #0002,
     12px 12px 15px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -60px;
  }
  .press span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -60px;
  }
  .press:hover span:nth-child(1) {
    box-shadow:inset 6px 6px 6px 0px rgba(255,255,255,.5),
     21px 21px 60px 0px rgba(0,0,0,.1),
     12px 12px 15px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .press:hover span:nth-child(2) {
    box-shadow:inset 6px 6px 6px 0px rgba(255,255,255,.5),
     21px 21px 60px 0px rgba(0,0,0,.1),
     12px 12px 15px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
/*Animate background */
@keyframes Gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
   100%{
        background-position: 0% 50%;
    }
}
@keyframes cube {
    from{
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to{
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}